* {
    box-sizing: border-box;
}

*:focus {
    outline: none!important;
}

body {
    min-height: 100%;
    margin: 0;
    line-height: 1;
    overflow-x: hidden;
    background-color: rgb(33, 43, 65);
    min-width: 300px;
}

.app-nav {
    background-color: rgb(17, 23, 34);
}

.app-brand {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.app-brand:hover {
    color: #fbde44;
}

.tiny-brand {
    font-size: 1.8rem;
    font-weight: lighter;
}

@media (max-width: 628px) {
    .app-brand {
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
    }
    .tiny-brand {
        font-size: 1rem;
        font-weight: lighter;
    }
}

.container-fluid {
    margin-top: 5%;
}

.card {
    margin: 1rem 3rem;
    background-color: rgb(17, 23, 34);
}

@media (max-width: 628px) {
    .card {
        margin: 1rem 1rem;
    }
}

hr {
    background-color: #fff;
}

.current-weather-card {
    box-shadow: 1px 1px 30px 0 rgba(37, 33, 33, 0.4), -1px -1px 30px 0 rgba(37, 33, 33, 0.4);
    /* background: linear-gradient( to bottom, #28334AFF, #F65058FF); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
    padding-bottom: 1rem;
}

.current-header {
    color: #FBDE44FF;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3rem;
}

.current-weather-card .card-header {
    border-bottom: 2px solid #fff;
}

.current-weather-card .card-header h2 {
    color: #fbde44;
}

.current-weather-card .card-header .card-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: lighter;
}

.current-weather-card .card-body .card-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: lighter;
}


/* CHOOSE STYLE */

.choose-weather-card .card-header {
    border-bottom: 2px solid #fff;
}

.choose-weather-card {
    box-shadow: 1px 1px 30px 0 rgba(37, 33, 33, 0.4), -1px -1px 30px 0 rgba(37, 33, 33, 0.4);
    /* background: linear-gradient( to bottom, #28334AFF, #ad9934); */
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* background-attachment: fixed;  IMPORTANT -------------- */
}

.choose-header {
    color: #F65058FF;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3rem;
}

.choose-weather-card .card-header h2 {
    color: #F65058FF;
    display: block;
    margin: auto;
}

.city-selector {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 1.1rem;
    font-weight: lighter;
    /* border-radius: 2rem; */
    padding: 0.1rem 1rem;
    max-width: 150px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
    margin-bottom: 0;
}

.country-selector:hover {
    background-color: #fff;
    color: rgba(0, 0, 0);
}

.country-selector {
    background-color: rgba(0, 0, 0, 0.1);
    color: #F65058FF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    /* border-radius: 2rem; */
    padding: 0.2rem 1rem;
    max-width: 195px;
    text-align: center;
    text-align-last: center;
    -moz-text-align-last: center;
}

.country-selector:hover {
    background-color: #ffffff6b;
    color: #28334AFF;
}


/* Defaults */

.temp-text {
    font-family: cursive;
    color: #fff;
    font-size: 3.5rem!important;
    font-weight: bold!important;
}

.weather-icon {
    min-width: 120px;
    padding: 1rem auto 0rem !important;
}

.weather-text {
    color: #fff;
    font-size: 2rem!important;
    margin-block: -1.8rem;
}

.day-text {
    color: #fff;
    font-family: cursive;
    font-size: 2.5rem!important;
    margin-top: 3rem;
    font-weight: 100!important;
    background-color: rgba(40, 51, 74, 0.35);
    padding: 0.5rem 1rem 1rem;
    max-width: 265px;
    border-radius: 3.5rem;
    display: block;
    margin: 4rem auto 0;
}

#globalLoader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 115%;
    background-color: #28334AFF;
    display: flex;
}